/* background */
.page-bg {
    background-color: #f2f7ff;
}

html {
	width: 516px; 
    height: 200px; 
}

/* main container of all shop items */
.shop-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    justify-content: space-between;
}

/* each item card */
.item-box {
    height: 122px;
    width: 100px;
    border: 1.5px solid black;
    border-radius: 5px;
    margin: 3px;
    text-align: center;
}

/* sprite image */
.item-image {
    width: 75px;
    height: 75px;
    margin: 2px;
    border-radius: 5px;
}

/* placeholder for Test */
.item-img-placeholder {
    width: 75px;
    height: 75px;
    margin: 1.5px auto;
}

/* price text */
.item-price {
    width: 75px;
    height: 20px;
    text-align: center;
    margin: 0 auto; 
}

/* Purchase and equip buttons inside item box */
.purchase-btn,
.equip-btn {
	color: white;
	background-color: #007bff;
	border-radius: 5px;

    width: 75px;
    height: 22px;
	margin-bottom: 5px;
    margin: 4px auto 0 auto;
    display: block;
    text-align: center;
}

/* Equip is hidden until purchased */
.equip-btn {
    display: none;
}

.flex-item {
	display: block;
  	font: 20px Garamond;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
  	color: #333333;

	/* Adjust the way the button works */
  	padding: 4px 10px 4px 10px ;
	border: 1.5px solid #333333;
	border-radius: 10px;

	/* positions closet or settings button at the bottom of the page */
	position: absolute;
	color: white;
	background-color: #007bff;
	width: 430px;
	bottom: 3px;
    left: 60px;
	transition: background-color 0.3s ease; /* Smooth transition for background color */
}

 /* coin icon positioning in closet next to price for cosemetic */
.coin-icon {
	width: 14px;
	height: 14px;
	margin-bottom: 4px;
	margin-right: 5px;
	vertical-align: middle;
	z-index: -5;
}

.coinContainer {
	display: flex;
	align-items: center;
	gap: 5px;

	padding: 4px 10px 4px 1px;
	border: 1.5px solid #333333;
	border-radius: 10px;

	background-color: #9286ff;
	width: 42px;
	height: fit-content;
}

.coinContainer {
	position: fixed;
	bottom: 5px;
	left: 3.5px;
}

/* Positions how much currency you currently have */
#tokenDisplay {
	position: static;
	padding-right: 2px;
	color: white;
	font: 15px Garamond;

}

/* Positions coin icon 30/30 */
.coinIcon {
	position: static;
	width: 19px;
	height: 19px;
}

