.button {
	display: block;
  	font: 20px Garamond;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
  	color: #333333;

	/* Adjust the way the button works */
  	padding: 4px 10px 4px 10px ;
	border: 1.5px solid #333333;
	border-radius: 10px;

	/* positions closet or settings button at the bottom of the page */
	position: absolute;
	color: white;
	background-color: #007bff;
	width: 430px;
	bottom: 3px;
	left: 60px;
	transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.button:hover {
	background-color: #3d7eaa;  /* Darker shade of blue on hover */
}	

html {
	width: 516px; 
    height: 356px; 
}

.flex-container {
	display: flex;
  	flex-direction: column; /* Optional, for vertical flow */
	height: 275px;
  	border: 2px solid #333333;
    justify-content: flex-end;
	align-items: center;
}

.flex-item {
  	background-color: lightgreen;
  	padding: 10px;
 	margin-top: auto; /* Pushes this item to the bottom */
}

.inputBox {
	width: 100px;
}

/* Form isn't visible, but is still positioned to be at bottom when popped-up*/
.form-popup {
	display: none;
	padding-left: 8px;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 1px solid #333333;
	background-color: #a6c8ff;
	width: 375px;
	z-index: 9;
}

/* Add assignment button design & is clicked form lay-out displays */
.open-button {
	position: fixed;
	bottom: 195px;
    right: 20px;
    padding: 10px;

	/*Form display design*/
    background-color: #007bff;
	font: 14px Garamond;
    color: white;
	border: 1.3px solid #333333;
    border-radius: 10px;
    cursor: pointer;
}

#displayDiv {
	max-height: 125px;
	overflow-y: auto;
	display: block;
	/*	margin-top: 100px; */

	font: 15px Garamond;
	width: 475px;

	border: 1px solid #333333;
	border-radius: 5px;
	padding: 2px 5px 2px 5px;
}

/* formating of content within pop-up */
.FormContainer {
  text-align: left;   /* Align text to the left */
  padding: 10px;      /* Add space so text doesn’t touch the border */
}


#inspirationalQuote {
	display: flex;
	flex-direction: column;

	position: absolute;
	margin-right: 8px;
	top: 10px;
	left: 175px;

	padding: 5px;
	border: 1px solid #333333;
	border-radius: 5px;

	width: 315px;
	height: 30px;

	overflow-y: auto;
	overflow-x: hidden;

	font-family: Garamond, serif;
	font-size: small;
}

.coinContainer {
	display: flex;
	align-items: center;
	gap: 5px;

	padding: 4px 10px 4px 1px;
	border: 1.5px solid #333333;
	border-radius: 10px;

	background-color: #007bff;
	width: fit-content;
}

.coinContainer {
	position: fixed;
	bottom: 5px;
	left: 3.5px;
}

/* Positions how much currency you currently have */
#tokenDisplay {
	position: static;
	padding-right: 2px;
	color: white;
	font: 15px Garamond;

}

/* Positions coin icon 30/30 */
.coinIcon {
	position: static;
	width: 19px;
	height: 19px;
}

/* Trying to change size of frog on dashboard (Doesn't work) */
.spriteContainer {
	border: 2px solid #333333; 
	height: 150px; 
	width: 150px; 
	display: flex; 
	float: left; 
	margin-right: 10px; 
	border-radius: 5px; 
	margin-bottom: 5px;
}

.spriteContainer img {
	object-fit: cover;
	display: block;
}

.progressContainer {
	height: 0px;
	width: 0px;
	position: relative;
}

.progressContainer {
	position: absolute;
	top: 60px;
	left: 170px;
}